<table class="table">
  <thead>
    <tr>
      <th scope="col">日期</th>
      <th scope="col">Name</th>
      <th scope="col">打卡時間</th>
      <th scope="col">值勤狀態</th>
      <th scope="col">值勤時間</th>
    </tr>
  </thead>
  <tbody>
    {{#each records}}
      <tr>
        <th>{{this.date}}</th>
        <td>{{User.name}}</td>
        <td>{{this.checkIn}}</td>
        <td>{{this.state}}</td>
        <td>{{this.durations}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>